body {
	font-family: monospace;
}

h3 {
	margin-bottom: 0px;
}

textarea {
	width: 100%;
	height: 450px;
}

.config_content {
	margin-left: 20px;
}

.column {
	height: auto;
	min-width: 300px;
    margin-right: 5px;
}

.modal_content {
    background-color:#fefefe;
    width: 40%;
    margin: 10% 30%;
    padding: 20px;
    display: inline-block;
}

#modal_div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#run_file_mgr {
    display: inline-block;
    float: right;
}

#run_info_div {
    display: inline-block;
}