.modal {
    position: fixed;
    width: calc(100% - 8px);
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    margin-left: 8px;
    overflow: auto;
    max-height: 100%;
}

.modal_content {
    text-align:left;
    font-size: 1.3em;
    font-family: "Lucida Console", Monaco, monospace;
}